{% comment %}
  Display syllabus in tabular form.
  Days are displayed if at least one episode has 'start = true'.
{% endcomment %}
<div class="syllabus">
  <h2 id="schedule">Schedule</h2>
<!--
  {% assign day = 0 %}
  {% assign multiday = false %}
  {% for episode in site.episodes %}
    {% if episode.start %}{% assign multiday = true %}{% break %}{% endif %}
  {% endfor %}
  {% assign current = site.start_time %}
-->
  <table class="table table-striped">
  <tr>
    <td class="col-md-2">Geisel Classroom 2</td>
    <td class="col-md-4"><a href="{{ page.root }}/setup">Setup</a></td>
    <td class="col-md-7"></td>
  </tr>
  {% for episode in site.episodes %}
    <tr>
      <td class="col-md-3">
        {{ episode.date | date_to_string}}, {{ episode.date | date: '%I'}}-{{episode.enddate | date: '%I %p'}}
      </td>

      <td class="col-md-4">
        <a href="{{ page.root }}{{ episode.url }}">{{ episode.title }}</a>
      </td>
      <td class="col-md-6">
        {% if episode.break %}
          Break
        {% else %}
          {% if episode.questions %}
            {% for question in episode.questions %}
              {{question|markdownify|strip_html}}
              {% unless forloop.last %}
              <br/>
              {% endunless %}
            {% endfor %}
          {% endif %}
        {% endif %}
      </td>
    </tr>
    {% assign current = current | plus: episode.teaching | plus: episode.exercises | plus: episode.break %}
  {% endfor %}
  {% assign hours = current | divided_by: 60 %}
  {% assign minutes = current | modulo: 60 %}
  <tr>
    {% if multiday %}<td></td>{% endif %}
    <td class="col-md-1">Summer Workshop</td>
    <td class="col-md-3">Things 10-23</td>
    <td class="col-md-7"></td>
  </tr>
  </table>

  <p>
    The actual schedule may vary slightly depending on the topics and exercises chosen by the instructor.
  </p>

</div>
